@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: lightgray;
    font-family: "Sriracha", cursive;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: black;
    color: white;
    text-align: center;    
}

header > h1 {      
    padding-top: 50px;
    font-variant: small-caps;    
}

header > p {
    padding-bottom: 50px; 
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section {
    line-height: 2em;
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
}

section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(59, 59, 59);
    color: white
}

section.imagem > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.233);
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px;
}